* {
	margin: 0;
	padding: 0;
	outline: none;
	font-family: sans-serif;
}

html {
	height: 100%;
}

input[type="text"], input[type="password"], input[type="search"] {
	color: #5d5d5d;
	width: 60%;
	padding: 8px;
}

input, textarea {
	outline: none;
	border: none;
	border: solid 1px #f2f2f2;
	border-radius: 15px;
}

body{
 background-image: url(‘http://bit.ly/2gPLxZ4’);
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
}

h1, h2 {
	font: normal 170% 'century gothic' arial;
	margin: 0 0 15px 0;
	padding: 15px 0 5px 0;
	color: #000; 
}

h2 {
	font-size: 140%;
}

.header {
	background-color: green;
	height: 177px;
	font-size: 0.8em;
	margin-left: 0px;
	margin-right: 0px;
	min-width: 900px;
}

.amin, .logo, .menubar, .sitecontent, .footer {
	margin-left: auto; 
	margin-right: auto;
}

.logo { 
	width: 800px;
	padding-bottom: 40px;
}

.logo h1, .logo h2 {
	font: normal 300% 'century gothic', arial, sans-serif;
	margin: 0 0 0 9px;
}

.logotext h1, .logotext h1 a, .logotext h1 a:hover {
	padding: 22px 0 0 0;
	color: white;
	letter: spacing: 0,1em;
	text-decoration: none;
}

.logotext h2 {
	font-size: 1.3em; 
	padding: 4px 0 0 0;
	color: red;
}

.menubar {
	widows: 900px;
	height: 46px;
}

ul.menu {
	float: right;
}

ul.menu li {
	float: left;
	padding: 0 0 0 2px;						/* Внутренний отступ*/
	list-style: none;						/* Урбарть точки перед листом*/
	margin: 1px 2px 0 0;
}

ul.menu li a {
	font: normal 100% 'trebushet ms', sans-serif;
	display: block;										/* Сделать неблочный элемент блочным*/
	height: 20px;	 
	padding: 6px 35px 5px  28px;
	color: #fff;
	text-decoration: none;
}

ul.menu li.selected a {
	color: blue;
}

ul.menu li a:hover {
	color: red;
}

.site_content {
	width:880px;
	overflow: hidden;
	margin: 20px auto 0 auto;
	background-color: white;
}

/* Sidebar */

.sitebar_container {
	float: right;
	width: 200px;
	padding: 3%;
	margin: 0 0 16px 0;
	border: solid 1px #f2f2f2;
	border-radius: 6px;
	background-color: #f9f9f9;
}

.btn {
	padding: 8px;
	background-color: white;
	cursor: pointer;
}

.sidebar h2 {
	color: #136cb2;
}

.lables_passreg_text {
	font-size: 0.7em;
	margin-top: 3%;
	margin-left: 2%;
}

#sidebar {
	position: fixed;
	width: 250px;
	height: 100%;
	background: #57626F;
	border-right: 4px solid #E0E5EA;
	left: -254px;

	-moz-transition: all 300ms;
	-webkit-transition: all 300ms;
	transition: all 300ms;
}

#sidebar ul li:first-child {
	text-align: center;
	color: white;
	font-size: 1.95em;
	list-style: none;
	padding: 25px 10px 10px 10px;
}

#sidebar ul li:not(:first-child) {
	width: 90%;
	margin-left: 10%;
	color: white;
	font-size: 1em;
	list-style: none;
	padding: 15px 10px 10px 10px;
}

#sidebar ul li a {
	color: #dfe5eb;
	text-decoration: none; 
}

#sidebar ul li a:hover {color: #59e9df;}

#sidebar .toggle-btn {
	position: absolute;
	left: 270px;
	top: 20px;
	background: #E0E5EA;
	padding: 10px; 
	border-radius: 12px;
	cursor: pointer;
}

#sidebar .toggle-btn span {
	display: block;
	width: 25px;
	height: 4px;
	background-color: #666;
	margin: 4px;
}

#sidebar .toggle-btn:hover {
	background: #556270;
}

#sidebar .toggle-btn:hover span {
	background: #fafafa ;
}

#sidebar:active {
	left: 0px;
}

footer {
	width: 98%;
	background-color: #fff;
	float: left;	
}